@import "fonts"
@import "main.scss"
@import "libs"
@import "vars"

/*==========  user style  ==========*/
body
	font-family: 'Rubik', sans-serif
	min-width: 375px
	scroll-behavior: smooth

a
	transition: .3s
	display: inline-block
	&:link
		outline: none 0
	&:visited
		outline: none 0
	&:hover
		text-decoration: none
	&:active
		outline: none 0


ul
	margin: 0
	padding: 0
	list-style: none

.button-default
	border: none
	cursor: pointer

.button
	text-transform: uppercase
	border-radius: 25px
	font-weight: bold
	transition: .3s
	&:hover
		color: #fff

	&_color_blue
		background-color: #42a4ff
		color: #ffffff
		box-shadow: 0px 2px 10px 0px rgba(19,108,191,0.31)
		&:link
			color: #fff
		&:visited
			color: #fff

	&_transparent
		border: 2px solid #42a4ff
		color: #42a4ff

	&__theme_darken
		&:hover
			background-color: darken(#42a4ff, 20%)

	&__theme_reverse
		&:hover
			background-color: #42a4ff
			color: #fff

	&_size_m
		font-size: 14px
		padding: 10px 40px
		+media-breakpoint-down(lg)
			padding: 10px 30px
		+media-breakpoint-down(md)
			padding: 10px 30px
	
	&_size_l
		font-size: 16px
		padding: 15px 50px
		border-radius: 30px
		letter-spacing: .5px
		+media-breakpoint-down(xs)
			font-size: 14px
			padding: 15px 20px
.btn-wrap
	text-align: center
.m-b-0
	margin-bottom: 0

.slick-dots
	position: absolute
	bottom: 5%
	left: 18%
	display: flex
	li
		margin-right: 10px
		button
			position: relative
			border-radius: 50%
			background-color: #b1b1b1
			font-size: 0
			height: 12px
			width: 12px
			border: none
			cursor: pointer
	li.slick-active
		button
			background-color: #42a4ff


.slick-arrow
	position: absolute
	font-size: 0
	width: 50px
	height: 50px
	border-radius: 50%
	background-color: #42a4ff
	border: none
	cursor: pointer
	top: 50%
	transform: translateY(-50%)
	box-shadow: 0px 2px 10px 0px rgba(19,108,191,0.31)
	transition: .3s
	&:not(.slick-disabled):hover
		background-color: darken(#42a4ff, 10%)

.slick-prev
	left: -40px
	&:before
		position: absolute
		content: '\f104'
		font-family: "FontAwesome"
		color: #fff
		font-size: 33px
		top: 50%
		left: 45%
		transform: translate(-50%, -50%)

.slick-next
	right: -40px
	&:before
		position: absolute
		content: '\f105'
		font-family: "FontAwesome"
		color: #fff
		font-size: 33px
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
.slick-disabled
	background-color: lighten(#42a4ff,10%)

.section-header
	text-align: center
	font-size: 60px
	font-weight: 500
	position: relative
	&:before
		position: absolute
		content: ''
		bottom: 0
		height: 2px
		width: 40px
		background-color: #fff
		left: 50%
		transform: translateX(-50%)
.section-description
	text-align: center
	margin-top: 15px
.table-wrapper
	overflow: auto
	font-size: 13px
	display: flex
	padding-left: 5px
	padding-right: 5px
table
	td
		padding: 15px
		+media-breakpoint-down(xs)
			padding: 6px
	thead
		background-color: #136cbf
		color: #fff
	tbody
		tr:nth-child(even)
			background-color: lighten(#42a4ff,20%)
		tr:nth-child(odd)
			background-color: lighten(#42a4ff,35%)
		td:not(:first-child)
			text-align: center
			+media-breakpoint-down(xs)
				white-space: nowrap

.t-a-r
	text-align: right

.t-a-c
	text-align: center

.t-a-l
	text-align: left

#small-dialog
	background: $accent
	max-height: 600px
	height: calc(100vh - 200px)
	min-height: 450px
	width: 600px
	min-width: 600px
	padding: 80px 40px
	+media-breakpoint-down(sm)
		max-width: calc(100vw - 50px)
		min-width: calc(100vw - 50px)
		min-height: 450px
		max-height: 450px
	.mfp-close-btn-in
		.mfp-close
			color: #fff

.modal
	color: #fff
	text-align: center
	h1
		text-align: center
		font-size: 45px
		+media-breakpoint-down(sm)
			font-size: 26px

	&__form

		&__input
			width: 100%
			padding: 13px 15px
			font-size: 14px
			line-height: 22px
			border: 1px solid
			border-radius: 35px
			margin-bottom: 10px
			+media-breakpoint-down(sm)
				padding: 11px 12px


.mfp-close-btn-in .mfp-close
	color: #fff

.m-l-minus-30-md


.reset-padding-media-breakpoint
	+media-breakpoint-down(lg)
		padding: 0 !important
	+media-breakpoint-down(md)
		margin-left: -30px
	+media-breakpoint-down(sm)
		margin-left: 0


.container-castom-fluid-breakpoint
	+media-breakpoint-down(md)
		width: 100%
.res
	margin-left: 0

.res-2
	padding-left: 15px !important
	padding-right: 15px !important
	+media-breakpoint-down(sm)
		padding-left: 15px !important
		padding-right: 15px !important
/*==========  user style  ==========*/
@import "header/header"
@import "slider/slider"
@import "feature/feature"
@import "slogan/slogan"
@import "products/products"
@import "brand/brand"
@import "price/price"
@import "footer/footer"
@import "other-page/about-us"
@import "other-page/contacts"
@import "other-page/service"
.display-none
	+media-breakpoint-down(sm)
		display: none

.mobile-menu

	&__icon

		&_button
			background-color: transparent
			border: none
			outline: none 0
			color: #fff
			font-size: 24px

@import "media" // Always at the end