.feature {
  background-color: #fff;
  padding: 60px 0;
}

.feature__item {
  text-align: center;
}

.feature__item_icon {
  font-size: 65px;
  color: #42a4ff;
}

.content_header {
  font-size: 24px;
  padding: 10px 0;
}

.content_decoration {
  position: relative;
}

.content_decoration:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 20%;
  background-color: #42a4ff;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.content_paragrah {
  font-size: 14px;
  font-size-padding-top: 20px;
}
