@import "../vars"

.top-header
	background-color: $accent
	padding: 15px 0

	&__item_position

		&_left
			text-align: left

		&_right
			text-align: right

		&_center
			text-align: center

	&__social
		+media-breakpoint-down(sm)
			margin-bottom: 10px
		

		&_line
		display: flex

		&__item
			&:not(:last-child)
				margin-right: 15px

			&_link
				font-size: 23px
				display: inline-block
				color: #42a4ff
				transition: .3s
				&:hover
					color: #fff

	&__welcome-text
		color: #fff
		margin: 0
		font-size: 15px
		+media-breakpoint-down(sm)
			margin-bottom: 10px


		&_align_center
			text-align: center
						
	&__btn
		text-transform: uppercase
		border-radius: 25px
		font-weight: bold
		transition: .3s
		&:hover
			background-color: lighten(#42a4ff, 10%)
			color: #fff
		&:visited
			color: #fff
		&:link
			color: #fff

		&_color_blue
			background-color: #42a4ff
			color: #ffffff
		
		&_size_m
			font-size: 14px
			padding: 10px 40px
			+media-breakpoint-down(md)
				padding: 10px 18px

.header-middle
	background-color: $default-color
	color: #a5d4ff
	padding: 10px 0
	
	&_border_bottom
		border-bottom: 1px solid #42a4ff

	&__logo
		display: flex
		+media-breakpoint-down(sm)
			justify-content: center
		a
			text-align: center

		&_square
			margin-right: 65px
			+media-breakpoint-down(md)
				margin-right: 45px
			+media-breakpoint-down(sm)
				margin: 0
				margin-bottom: 15px

		&_img
			width: 100%
			+media-breakpoint-down(sm)
				width: 50%

	&__contact-info

		&__icon
			border-radius: 50%
			padding: 0
			background-color: $accent
			display: flex
			justify-content: center
			align-items: center
			width: 50px
			height: 50px
			color: #fff
			transition: .5s
			&:hover
				background-color: #fff
				color: $accent

			&_size_xl
				font-size: 22px
		
		&__text
			font-size: 15px
			color: $text-color-reverse
			padding-left: 10px
			+media-breakpoint-down(md)
				font-size: 13px
			a
				color: $text-color-reverse
				transition: .3s
				&:hover
					color: #fff

.header-bottom
	background-color: $default-color
	color: #fff
	padding: 20px 0
	&__menu
		display: flex

		&__item
			padding: 0 15px
			&:not(:last-child)
				margin-right: 20px
				+media-breakpoint-down(md)
					margin-right: 5px

			&_link
				color: #fff
				font-weight: 500
				font-size: 18px
				&:hover
					color: $text-color-reverse

.t-a-sm-center
	+media-breakpoint-down(sm)
		text-align: center
@import "media"



